@import "./reset.css";
@import "./my-font.css";
@import "./fix-100vw.css";

/* tailwind 相关 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-space {
    @apply flex flex-col space-y-3 md:flex-row md:space-y-0 md:space-x-3;
  }
}

.MyPropsTable table {
  border-collapse: collapse;
  width: 100%;
}
.MyPropsTable table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}
.MyPropsTable th,
td {
  text-align: left;
  padding: 8px;
}
.MyPropsTable th {
  background-color: #4caf50;
  color: white;
}
.MyPropsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
